<nav class="navbar navbar-expand-lg" style="background-color: #ffd700;">
    <div class="container-fluid">
        <div class="collapse navbar-collapse menu-bar" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="" id="navbarDarkDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Diamond
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" routerLink="">Earings</a></li>
                        <li><a class="dropdown-item" routerLink="">Rings</a></li>
                        <li><a class="dropdown-item" routerLink="">Bangles</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/home" aria-current="page">Gold</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="" aria-current="page">Silver</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="" aria-current="page">Offers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="" aria-current="page">Coins</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="" aria-current="page">Gold Rate</a>
                </li>
            </ul>
        </div>
    </div>
</nav>